<div class="stat-big">
  <span class="big-n">8 421</span>
  <span class="big-l">affiliate klikov · 30d</span>
  <div class="stat-bars">
    <i style="height:62%"></i><i style="height:71%"></i><i style="height:68%"></i><i style="height:84%"></i><i style="height:76%"></i><i style="height:82%"></i><i style="height:88%"></i><i style="height:92%"></i>
  </div>
</div>
