<ul class="stat-list">
  <li><span class="dot dot-blue"></span><span class="li-t">Sony WH-1000XM6 recenzia</span><span class="li-m">Dárius K. · 2 d</span></li>
  <li><span class="dot dot-blue"></span><span class="li-t">AMD vs Nvidia 2026</span><span class="li-m">Tomáš P. · 4 h</span></li>
  <li><span class="dot dot-blue"></span><span class="li-t">Návod na M3 Max</span><span class="li-m">Lucia H. · 1 d</span></li>
</ul>
