<ul class="stat-list stat-flags">
  <li><span class="li-t">🇸🇰 Slovensko</span><div class="li-p"><i style="width:64%"></i></div><span class="li-m">64%</span></li>
  <li><span class="li-t">🇨🇿 Česko</span><div class="li-p"><i style="width:22%"></i></div><span class="li-m">22%</span></li>
  <li><span class="li-t">🇵🇱 Poľsko</span><div class="li-p"><i style="width:6%"></i></div><span class="li-m">6%</span></li>
  <li><span class="li-t">🇭🇺 Maďarsko</span><div class="li-p"><i style="width:4%"></i></div><span class="li-m">4%</span></li>
  <li><span class="li-t">🇩🇪 Nemecko</span><div class="li-p"><i style="width:2%"></i></div><span class="li-m">2%</span></li>
</ul>
