<div class="stat-cwv">
  <div><span class="cwv-l">LCP</span><span class="cwv-v ok">1.2s</span></div>
  <div><span class="cwv-l">INP</span><span class="cwv-v ok">142ms</span></div>
  <div><span class="cwv-l">CLS</span><span class="cwv-v warn">0.08</span></div>
</div>
