<div class="stat-overview" style="grid-template-columns:1fr 1fr 1fr">
  <div><span class="ov-num"><%= s.devices.desktop %>%</span><span class="ov-l">Desktop</span></div>
  <div><span class="ov-num"><%= s.devices.mobile %>%</span><span class="ov-l">Mobil</span></div>
  <div><span class="ov-num"><%= s.devices.tablet %>%</span><span class="ov-l">Tablet</span></div>
</div>
