<ul class="stat-list">
  <li><span class="li-t">AI v 2026: čo prinesie GPT-6</span><span class="li-m">Marek T.</span><div class="li-p"><i style="width:78%"></i></div></li>
  <li><span class="li-t">Návod: prečo Linux na desktope už nestačí</span><span class="li-m">Lucia H.</span><div class="li-p"><i style="width:42%"></i></div></li>
  <li><span class="li-t">Sony A7 VI prvý dotyk</span><span class="li-m">Dárius K.</span><div class="li-p"><i style="width:15%"></i></div></li>
</ul>
