<ul class="stat-list stat-tasks">
  <li><span class="check on"><i class="bi bi-check"></i></span><span class="li-t">Recenzia Pixel 11 Pro - doplniť fotky</span><span class="li-m">MT</span></li>
  <li><span class="check"><i class="bi bi-check"></i></span><span class="li-t">Korektúra: macOS 16 návod</span><span class="li-m">LH</span></li>
  <li><span class="check on"><i class="bi bi-check"></i></span><span class="li-t">Schvalit publikovanie iPhone 17</span><span class="li-m">DK</span></li>
</ul>
