<ul class="stat-list">
  <li><span class="dot dot-red"></span><span class="li-t">Anonym42</span><span class="li-m">„Toto je úplné…"</span></li>
  <li><span class="dot dot-red"></span><span class="li-t">TechFan99</span><span class="li-m">„Reklama na konkurenciu"</span></li>
  <li><span class="dot dot-red"></span><span class="li-t">???</span><span class="li-m">„Spam s linkom"</span></li>
</ul>
