<% if (s.longestRead.length === 0) { %>
<div class="stat-empty">Žiadne články.</div>
<% } else { %>
<ol class="stat-rank">
  <% s.longestRead.forEach((a, i) => { %>
  <li><span class="rk"><%= i+1 %></span><a href="/admin/articles/<%= a.id %>/edit" class="rk-t"><%= a.title %></a><span class="rk-v">~<%= a.readTime %> min</span></li>
  <% }) %>
</ol>
<% } %>
