<ul class="stat-list">
  <li><span class="li-t">Framework 16 dlhodobý test</span><span class="li-m">⏱ 18 min · prečítanie 14.2min</span></li>
  <li><span class="li-t">Hĺbková analýza M5</span><span class="li-m">⏱ 14 min · prečítanie 11.8min</span></li>
  <li><span class="li-t">Steam Deck 2 vs ROG Ally X</span><span class="li-m">⏱ 12 min · prečítanie 9.1min</span></li>
</ul>
