<% if (s.mostCommented.length === 0) { %>
<div class="stat-empty">Zatiaľ žiadne komentáre.</div>
<% } else { %>
<ol class="stat-rank">
  <% s.mostCommented.forEach((a, i) => { %>
  <li><span class="rk"><%= i+1 %></span><a href="/admin/articles/<%= a.id %>/edit" class="rk-t"><%= a.title %></a><span class="rk-v"><%= a.cnt %></span></li>
  <% }) %>
</ol>
<% } %>
