<ul class="stat-list">
  <% s.newRegistrations.forEach(u => { %>
  <li>
    <a href="/admin/users/<%= u.id %>" class="li-t"><%= u.nickname %></a>
    <span class="li-m"><%= u.role %> · <%= new Date(u.created_at).toLocaleDateString('sk-SK') %></span>
  </li>
  <% }) %>
</ul>
