<div class="stat-big">
  <span class="big-n">124</span>
  <span class="big-l">nových komentárov · 24h</span>
  <div class="stat-bars">
    <i style="height:45%"></i><i style="height:62%"></i><i style="height:58%"></i><i style="height:71%"></i><i style="height:64%"></i><i style="height:80%"></i><i style="height:84%"></i>
  </div>
</div>
