<div class="stat-big">
  <span class="big-n"><%= s.noImage.length %></span>
  <span class="big-l">publikovaných bez titulného obrázka</span>
</div>
<% if (s.noImage.length > 0) { %>
<ul class="stat-list" style="margin-top:8px">
  <% s.noImage.slice(0,5).forEach(a => { %>
  <li><a href="/admin/articles/<%= a.id %>/edit" class="li-t"><%= a.title %></a></li>
  <% }) %>
</ul>
<% } %>
