<% if (s.recentlyPublished.length === 0) { %>
<div class="stat-empty">Žiadne publikované články.</div>
<% } else { %>
<ol class="stat-rank">
  <% s.recentlyPublished.forEach((a, i) => { %>
  <li><span class="rk"><%= i+1 %></span><a href="/admin/articles/<%= a.id %>/edit" class="rk-t"><%= a.title %></a><span class="rk-v"><%= a.view_count %> views</span></li>
  <% }) %>
</ol>
<% } %>
