<ul class="stat-list">
  <li><span class="li-t">Pixel 11 Pro recenzia</span><span class="li-m">Marek T. · pred 8 min</span></li>
  <li><span class="li-t">Top 10 mobilov 2026</span><span class="li-m">Lucia H. · pred 24 min</span></li>
  <li><span class="li-t">macOS 16 prvé dojmy</span><span class="li-m">Marek T. · pred 1 h</span></li>
</ul>
