<ul class="stat-list">
  <li><span class="dot dot-amber"></span><span class="li-t">pixel 12</span><span class="li-m">84× bez výsledku</span></li>
  <li><span class="dot dot-amber"></span><span class="li-t">iphone 18</span><span class="li-m">62× bez výsledku</span></li>
  <li><span class="dot dot-amber"></span><span class="li-t">windows 12</span><span class="li-m">41× bez výsledku</span></li>
</ul>
