<ul class="stat-list">
  <li><span class="li-t">Hĺbková analýza AI</span><span class="li-m">5/8 hotových</span></li>
  <li><span class="li-t">Linux na desktope</span><span class="li-m">3/6 hotových</span></li>
  <li><span class="li-t">Testy klávesníc</span><span class="li-m">2/5 hotových</span></li>
</ul>
