<div class="stat-server">
  <div><span>CPU</span><div class="li-p"><i style="width:38%"></i></div><span>38%</span></div>
  <div><span>RAM</span><div class="li-p"><i style="width:62%"></i></div><span>62%</span></div>
  <div><span>Disk</span><div class="li-p"><i style="width:54%"></i></div><span>54%</span></div>
  <div><span>NET</span><div class="li-p"><i style="width:24%"></i></div><span>24%</span></div>
</div>
