<% if (s.staleArticles.length === 0) { %>
<div class="stat-empty">Všetky články sú aktuálne.</div>
<% } else { %>
<ul class="stat-list">
  <% s.staleArticles.forEach(a => { %>
  <li>
    <a href="/admin/articles/<%= a.id %>/edit" class="li-t"><%= a.title %></a>
    <span class="li-m">Naposledy: <%= new Date(a.updated_at).toLocaleDateString('sk-SK') %> · <%= a.view_count %> views</span>
  </li>
  <% }) %>
</ul>
<% } %>
