<% if (s.topPages.length === 0) { %>
<div class="stat-empty">Žiadne dáta.</div>
<% } else { %>
<ol class="stat-rank">
  <% s.topPages.slice(0,7).forEach(function(p, i) { %>
  <li><span class="rk"><%= i+1 %></span><span class="rk-t" style="font-size:11px"><%= p.path %></span><span class="rk-v"><%= p.views %></span></li>
  <% }) %>
</ol>
<% } %>
