<% if (s.topToday.length === 0) { %>
<div class="stat-empty">Zatiaľ žiadne návštevy dnes.</div>
<% } else { %>
<ol class="stat-rank">
  <% s.topToday.forEach((a, i) => { %>
  <li><span class="rk"><%= i+1 %></span><a href="/admin/articles/<%= a.id %>/edit" class="rk-t"><%= a.title %></a><span class="rk-v"><%= a.views %></span></li>
  <% }) %>
</ol>
<% } %>
