<ol class="stat-rank">
  <li><span class="rk">1</span><span class="rk-t">Pixel 11 Pro: Google sa konečne pohol vpred</span><span class="rk-v">12.4k</span></li>
  <li><span class="rk">2</span><span class="rk-t">Framework 16: oprávniteľnosť vs. výkon v jednom šasi</span><span class="rk-v">8.2k</span></li>
  <li><span class="rk">3</span><span class="rk-t">macOS 16 Aurora: tichá revolúcia v multitaskingu</span><span class="rk-v">21.7k</span></li>
  <li><span class="rk">4</span><span class="rk-t">AMD Ryzen 9 9950X3D vs. Intel Core Ultra 9 285K</span><span class="rk-v">34.1k</span></li>
  <li><span class="rk">5</span><span class="rk-t">Nothing Phone (3): dizajn predáva, software prekvapuje</span><span class="rk-v">16.5k</span></li>
</ol>
