<% if (s.topTags.length === 0) { %>
<div class="stat-empty">Žiadne tagy.</div>
<% } else { %>
<ol class="stat-rank">
  <% s.topTags.forEach(function(t, i) { %>
  <li><span class="rk"><%= i+1 %></span><a href="/tag/<%= t.slug %>" class="rk-t">#<%= t.name %></a><span class="rk-v"><%= t.cnt %></span></li>
  <% }) %>
</ol>
<% } %>
