<% if (s.topCommenters.length === 0) { %>
<div class="stat-empty">Žiadne komentáre.</div>
<% } else { %>
<ol class="stat-rank">
  <% s.topCommenters.forEach((u, i) => { %>
  <li><span class="rk"><%= i+1 %></span><a href="/admin/users/<%= u.id %>" class="rk-t"><%= u.nickname %></a><span class="rk-v"><%= u.cnt %></span></li>
  <% }) %>
</ol>
<% } %>
