<% if (s.topAuthors.length === 0) { %>
<div class="stat-empty">Žiadni autori.</div>
<% } else { %>
<ol class="stat-rank">
  <% s.topAuthors.forEach((a, i) => { %>
  <li><span class="rk"><%= i+1 %></span><a href="/admin/users/<%= a.id %>" class="rk-t"><%= a.nickname %></a><span class="rk-v"><%= a.cnt %> článkov</span></li>
  <% }) %>
</ol>
<% } %>
