<div class="stat-tagcloud">
  <span class="anew-tag" style="padding:4px 10px">#pixel</span>
  <span class="anew-tag" style="padding:4px 10px">#iphone</span>
  <span class="anew-tag" style="padding:4px 10px">#samsung</span>
  <span class="anew-tag" style="padding:4px 10px">#macbook</span>
  <span class="anew-tag" style="padding:4px 10px">#gaming</span>
  <span class="anew-tag" style="padding:4px 10px">#linux</span>
  <span class="anew-tag" style="padding:4px 10px">#ai</span>
  <span class="anew-tag" style="padding:4px 10px">#macos</span>
  <span class="anew-tag" style="padding:4px 10px">#android</span>
  <span class="anew-tag" style="padding:4px 10px">#openai</span>
  <span class="anew-tag" style="padding:4px 10px">#apple</span>
  <span class="anew-tag" style="padding:4px 10px">#google</span>
</div>
