<ul class="stat-list">
  <li><span class="li-t">Pixel 11 Pro</span><span class="li-score">9.4</span></li>
  <li><span class="li-t">Sony WH-1000XM6</span><span class="li-score">9.2</span></li>
  <li><span class="li-t">MacBook Pro M5</span><span class="li-score">9.1</span></li>
  <li><span class="li-t">Steam Deck 2</span><span class="li-score">9.0</span></li>
</ul>
