<ol class="stat-rank stat-rank-avatars">
  <li><span class="bz-stat-avatar">PK</span><span class="rk-t">Peter Kováč</span><span class="rk-v">248</span></li>
  <li><span class="bz-stat-avatar">JT</span><span class="rk-t">Janka Tóth</span><span class="rk-v">187</span></li>
  <li><span class="bz-stat-avatar">T9</span><span class="rk-t">Tom_99</span><span class="rk-v">142</span></li>
  <li><span class="bz-stat-avatar">DK</span><span class="rk-t">DevOpsKing</span><span class="rk-v">121</span></li>
</ol>
