<% if (s.trending.length === 0) { %>
<div class="stat-empty">Nedostatok dát pre trending.</div>
<% } else { %>
<ol class="stat-rank">
  <% s.trending.forEach((a, i) => { %>
  <li><span class="rk"><%= i+1 %></span><span class="rk-t"><%= a.title %></span><span class="rk-v"><%= a.views %> · 7d</span></li>
  <% }) %>
</ol>
<% } %>
