<div class="stat-overview" style="grid-template-columns:1fr 1fr">
  <div><span class="ov-num"><%= s.uploadStorage %></span><span class="ov-l">využité</span></div>
  <div><span class="ov-num"><%= s.uploadCount %></span><span class="ov-l">súborov</span></div>
</div>
