<div class="stat-big">
  <span class="big-n">1.84M</span>
  <span class="big-l">pozretí · 30d</span>
  <div class="stat-bars">
    <i style="height:42%"></i><i style="height:58%"></i><i style="height:71%"></i><i style="height:68%"></i><i style="height:82%"></i><i style="height:76%"></i><i style="height:88%"></i><i style="height:94%"></i><i style="height:86%"></i><i style="height:92%"></i><i style="height:78%"></i><i style="height:84%"></i><i style="height:89%"></i><i style="height:95%"></i><i style="height:87%"></i><i style="height:90%"></i><i style="height:84%"></i><i style="height:88%"></i><i style="height:91%"></i><i style="height:89%"></i><i style="height:87%"></i><i style="height:92%"></i><i style="height:95%"></i><i style="height:89%"></i><i style="height:84%"></i><i style="height:87%"></i><i style="height:93%"></i><i style="height:96%"></i><i style="height:92%"></i><i style="height:88%"></i>
  </div>
</div>
