<% if (s.worstRated.length === 0) { %>
<div class="stat-empty">Žiadne hodnotené recenzie.</div>
<% } else { %>
<ol class="stat-rank">
  <% s.worstRated.forEach((a, i) => { %>
  <li><span class="rk"><%= i+1 %></span><a href="/admin/articles/<%= a.id %>/edit" class="rk-t"><%= a.title %></a><span class="rk-v" style="color:oklch(0.7 0.18 25)"><%= a.score %>/10</span></li>
  <% }) %>
</ol>
<% } %>
