<ul class="stat-list">
  <li><span class="li-t">Tecno Camon 30 Premier</span><span class="li-score li-score-bad">5.4</span></li>
  <li><span class="li-t">Realme Note 60</span><span class="li-score li-score-bad">5.8</span></li>
  <li><span class="li-t">Doogee S100</span><span class="li-score li-score-bad">6.0</span></li>
</ul>
